<style>
    .cc_banner {
        width: 100%;
    }

    .bck-green {
        background-color: rgb(13, 87, 52)
    }

    .bck-white {
        background-color: white
    }

    .cc_body {
        padding-top: 5%;
    }
</style>

<!-- desktop navbar -->
<section  class="uk-visible@s uk-box-shadow-medium">
    {{!-- uk-sticky --}}
    <nav   class="uk-navbar-container" style="background-color: white" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">
                    <img src="/assets/cc/cc_logo_002.png" alt="">
                </a>
            <ul class="uk-navbar-nav ">
                <li class="uk-visible@l uk-active"><a href="/">Home</a></li>
                <li class="uk-visible@l"><a href="/aboutus">About Us</a></li>
                {{!-- <li class="uk-visible@l"><a href="#">Contact Us</a></li> --}}
            </ul>
        </div >
        <div class="uk-navbar-right">
            <!-- desktop search -->
            <form role="form" enctype="multipart/form-data" action="/search" method="post" class="uk-visible@m uk-search uk-search-navbar">
                <button id="desktop_btn" uk-search-icon ></button>
                <input id="desktop_input"  name="query"  class="uk-search-input" placeholder="save on stores & categories">
            </form>
            <!-- tablet search -->
            <form role="form" enctype="multipart/form-data" action="/search" method="post" class="uk-hidden@m uk-search">
                <button id="tablet_btn"  class="uk-search-icon-flip" uk-search-icon></button>
                <input name="query" id="tablet_input" class="uk-search-input" placeholder="save on stores...">
            </form>

                        <ul class="uk-visible@m  uk-navbar-nav" >
                <li>
                    <a href="#" >Categories</a> {{{ categs }}}
                </li>
                <li>
                    <a href="#" >Campuses</a> {{{ campuses }}}
                </li>
                {{#if isAuth}}
                    <li><a href="/createorders" >create coupons</a> </li>
                    <li><a href="/logout">Log Out</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>

            <ul class="uk-hidden@m uk-navbar-nav" >
                <li>
                    <a href="#" style="font-size: 75%" >Categories</a> {{{ categs }}}
                </li>
                <li>
                    <a href="#" style="font-size: 75%" >Campuses</a> {{{ campuses }}}
                </li>
                {{#if isAuth}}
                    <li><a href="/createorders" style="font-size: 75%" >create coupons</a> </li>
                    <li><a href="/logout">Log Out</a></li>
                {{else}}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
</section>
<!--mobile nav bar-->
<section class="uk-hidden@s">
    {{!-- uk-sticky --}}
    <nav   class="uk-navbar-container" style="background-color: white" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">
                    <img src="/assets/cc/cc_logo_002.png" alt="">
                </a>
            <ul class="uk-navbar-nav">
                <!--<li class="uk-active"><a href="#"></a></li>-->
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul  class="uk-navbar-nav">
                <li><a style="font-size: 50%" href="#">categories</a> {{{ categs }}} </li>
                <li><a style="font-size: 50%" href="#">Campuses</a> {{{ campuses }}} </li>
                {{#if isAuth}}
                <li><a style="font-size: 50%" href="/createorders">create coupons</a> </li>
                <li><a style="font-size: 50%"  href="/logout">Log Out</a></li>
                {{else}}
                <li><a style="font-size: 50%" href="/login">Log In</a></li>
                <li><a style="font-size: 50%" href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
</section>
<!-- banner img  -->
<section class="uk-box-shadow-small">
    <img class="cc_banner" src="/assets/cc/banner_001.png" alt="">
    {{#if isAuth}}
        <div class="bck-green"> <span class="uk-flex uk-flex-right" style="color: white">  Your Token: {{token}}Kupos </span> </div>
    {{/if}}
</section>
<!-- mobile search input -->
<section class="uk-hidden@s  uk-container">
    <div>
        <form role="form" enctype="multipart/form-data" action="/search" method="post" class="uk-search uk-search-default  uk-width-1-1">
            <button id="mobile_btn"  class="uk-search-icon-flip" uk-search-icon></button>
            <input name="query" id="mobile_input"  class="uk-search-input"  placeholder="search stores...">
        </form>
    </div>
</section>