<!DOCTYPE html>
<html>

<head>
    {{{ headers }}}
</head>

<body>
    {{{ navbar }}}
    <section class="cc_body">
        <div class="uk-grid-small  uk-flex-center uk-text-center" uk-grid>
            <div class="uk-width-expand  ">
                <!-- create a Coupon   -->
                <img src="assets/cc/cc_cac_001.jpg" alt="">
                <p class="uk-link-muted">kindly read about <a href="#">Coupon  types </a>
                    <a href="#">recommendation</a> and
                    <a href="#"> subcription plan</a>
                </p>
                <div class="uk-container">
                    <form  role="form" enctype="multipart/form-data" action="/createorders" method="post" class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-2@s ">
                            <input class="uk-input" name="name" type="text" placeholder="Name of Business">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="bizPhoneNo" type="number" placeholder="phone Number">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="address" type="text" placeholder="Address of Business">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="email" type="text" placeholder="Business Email Address">
                        </div>
                        {{!----}}
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="number" type="number" placeholder="minimum of 100 coupons">
                        </div>
                        {{!----}}
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" name="description" type="text" placeholder="Product Description">
                        </div>
                        {{!--  --}}
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <select id="main_categ" name="category" class="uk-select">
                                    <option>Select Category</option>
                                    {{#each cuponTypes}}
                                    <option id="{{ name }}" value="{{name}}" >{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{#each cuponTypes }}
                            <div id="select_{{name}}" class="uk-margin" hidden>
                                <select name="cuponType" class="uk-select" mutiple >
                                    <option>Select Coupon  Type</option>
                                    {{#each author}}
                                    <option value="{{this}}" >{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{/each}}
                            {{!--  --}}
                            <div class="uk-margin">
                                <select name="institution" class="uk-select">
                                    <option>Select Instution</option>
                                    {{#each instuts}}
                                    <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <textarea class="uk-input" name="info" placeholder="Describe Your Offer" style="height: 100%; resize: none" rows="" cols=""></textarea>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div  class="uk-padding-remove">
                                <div uk-form-custom="target: true">
                                    <input id="image_upload" name="image_upload" type="file">
                                    <input id="image_upload" name="image_upload" class="uk-input uk-form-width-medium" type="text" placeholder="upload brand image or product service image" disabled>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 2%" class="uk-width-1-1@s">
                            <div class="uk-flex uk-flex-center">
                                <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                                    <label><input class="uk-checkbox" type="checkbox">
                                    I agree to merchants terms of use  and merchant privacy statement </label>
                                </div>
                            </div>
                        </div>
                    <div style="padding-top: 3%; padding-bottom: 5%" class= "uk-width-1-1@s uk-flex uk-flex-center">
                         <button type="submit" class="uk-box-shadow-small  uk-button  uk-button-large" style="background-color: rgb(0, 167, 89); color: white">Submit Coupon </button>
                    </div>
                    </form>
                    {{#if err}}
                    <br>
                    <p> {{{ err }}} </p>  
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    <script>
        var previous;
            $('#main_categ').change( function () {
                var current = $('#main_categ').val();
                console.log(current, previous)
                if (current !== undefined) {
                    $('#select_' + current )[0].hidden = false;
                    if (previous) $('#select_' + previous )[0].hidden = true;
                }
                previous = current;
            });
    </script>
</body>

</html>