<!DOCTYPE html>
<html>

<head>
    {{{ headers }}}
</head>

<body>
    {{{ navbar }}}
    <!-- desktop body -->
    <section class="cc_body">
        <div class="uk-grid-small  uk-flex-center uk-text-center" uk-grid>
            <div class="uk-visible@s uk-width-1-4 uk-text-center uk-box-shadow-small uk-background-muted" uk-scrollspy="cls: uk-animation-slide-left; repeat: true" style="padding-left: 2%">
                {{{ categories }}}
            </div>
            <div class="uk-width-expand">
                {{#if message}} 
                    <div style="text-align: center"> {{ message}}  </div>
                {{/if}}
               {{{ items }}}
            </div>
        </div>
        {{{ paginates }}}
    </section>
</body>

</html>