<!DOCTYPE html>
<html>

<head>
    {{{ headers }}}
    <script src="https://js.paystack.co/v1/inline.js"></script>
</head>

<body>
    {{{ navbar }}}
    <section class="cc_body">
        <div class="uk-grid-small  uk-flex-center uk-text-center" uk-grid>
            <div class="uk-visible@s uk-width-1-4 uk-text-center" style="padding-left: 2%">
                {{{ categ }}}
                <br>
            </div>
            <div class="uk-width-expand  ">
                <!-- create a cupon  -->
                <div id="paystack_EMbed"></div>
            </div>
        </div>
    </section>
        <script>
            var action = '{{ options.action }}'
            PaystackPop.setup({
                key: "{{ publicKey }}",
                email: "{{ email }}",
                amount: {{ amount }},
                container: "paystack_EMbed",
                callback: function(response){
                    if (response.status !== 'true') return;
                    if (action === 'approved') {
                        return window.location.href = '/payment/success?action=approved&order={{options.order}}&verify=' + response.reference;
                    }
                    return window.location.href = '/payment/success?action=gettoken&verify=' + response.reference;
                }
            });
    </script>
</body>

</html>