<!DOCTYPE html>
<html>

<head>
    {{{ headers }}}
</head>

<body>
    {{{ navbar }}}
    <!-- desktop body -->
    <section class="cc_body">
        <div class="uk-grid-small  uk-flex-center uk-text-center" uk-grid>
            <div class="uk-visible@s  uk-text-center" style="padding-left: 2%">
                {{{ categories }}}
            </div>
            <div class="uk-width-expand" style="padding-left: 10%; padding-right: 10%">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="{{order.image_upload}}" alt="" uk-cover>
                        <canvas width="200" height="100"></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-nowrap  uk-text-bold uk-text-small">{{ order.name }}</h3>
                            <p class="uk-card-title uk-text-nowrap  uk-text-bold uk-text-small">{{ order.description }}
                                <br><br> <span class="uk-text-bold">location: </span> <br> {{order.address}}
                                <br><span>email: {{ order.email}} </span> <br>
                                <span style="padding-left: 2%" class="uk-flex uk-flex-left">{{ order.bizPhoneNo }}</span>
                                <br><br> This Coupon  will cost you <span style="color: red; font-style: italic">{{order.cost}} kupos </span>
                            </p>
                            <p> <span class="uk-card-title">{{order.cuponType}}</span> <br> <span> {{ order.bizPhoneNo }} </span>    
                         </p>
                        {{#if enabled}} 
                           <div class="uk-flex uk-flex-right">
                                 {{#if isAuth}}
                                <a href="/cupon?id={{order._id}}" style="background-color: rgb(0, 167, 89); color: white" class="uk-button  uk-button-small">view Coupon</a>
                                {{else }}
                                <a href="/login?callbackurl=/orders/{{order._id}}" style="background-color: rgb(219,49, 60); color: white" class="uk-button  uk-button-small">Login To View Cupon</a>
                                {{/if}}
                            </div>
                        {{else}} 
                             <p style="color: red"> order {{ order._id }} mailing notification has been sent but not activated and authorized by the admin. Thank You.  </p>
                        {{/if}}   
                             
                        </div>
                    </div>
                </div>
                <p> <span>Details</span> <br> {{ order.info }} </p>
                <p> Similar Offers </p>
                <div class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-4@l" style="padding-bottom: 7%" uk-grid>
                    {{#each items}}
                    <div style="padding-bottom: 3%" class="">
                        <div class="uk-card uk-card-hover uk-card-default">
                            <div class="uk-card-media-top uk-cover-container">
                                <img src="{{image_upload}}" alt="" uk-cover>
                                <canvas width="" height=""></canvas>
                            </div>
                            <div  class="uk-card-body uk-container uk-padding-remove">
                                <h3 class="uk-card-title">{{ name }}</h3>
                                <p>{{description}}</p>
                                <a  class="uk-button uk-button-default uk-button-small" href="/orders/{{  _id  }}">view</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="uk-flex uk-flex-center">
                    {{#if isAuth}}
                <form role="form" enctype="multipart/form-data" action="/review?order={{order._id}}" method="post">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend"> Comment on Coupon </legend>
                        <div class="uk-margin">
                            <textarea  name="comment" class="uk-textarea" cols="80" rows="5" placeholder="i love this Coupon really great"></textarea>
                        </div>
                        <div class="uk-flex uk-flex-center">
                            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-text-capitalize">
                                    Review
                                    <span class="uk-icon-flip" uk-icon="icon: sign-in"></span>
                                    </button>
                        </div>
                    </fieldset>
                </form>
                {{/if}}
                </div>
                <div   style="padding-top: 5%; padding-bottom: 5%">
                    {{#each comments}}
                        <div style="text-align: right"> {{ author.name }} </div>
                        {{!--<hr>--}}
                    <div class="uk-background-muted">
                        <p class="" style="text-align: left"> {{ comment }} </p>
                    <hr>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</body>

</html>